/* start navbar */

$maincolor: #42adc1;
$secondcolor: #5cc2f2;
$thirdcolor: #5d4954;
$font-size: 16px;
$font-family: "Tajawal",
sans-serif;
$break-small: 768px;
$break-large: 1024px;
.header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    position: fixed;
    // z-index: 10;
    z-index: 100;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
    // background: #fff;
    .container {
        height: 100%;
    }
}

.header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__logo {
    a {
        img {
            width: 48px;
        }
    }
}

.header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    >ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        >li {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            margin-left: 40px;
            position: relative;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            >a {
                border-bottom: 1px solid transparent;
                font-weight: bold;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                .arrow {
                    margin-right: 5px;
                    svg {
                        fill: #3f3d56;
                        width: 12px;
                        height: 12px;
                    }
                }
                &:hover {
                    color: #5cc2f2;
                    .arrow {
                        svg {
                            fill: #5cc2f2;
                        }
                    }
                }
            }
            >a.active {
                border-bottom: 1px solid #5cc2f2;
                color: #5cc2f2;
            }
            .dropdown {
                position: absolute;
                width: 200px;
                background: #fff;
                top: calc(100% + 15px);
                right: 0;
                -webkit-transition: 0.2s;
                transition: 0.2s;
                opacity: 0;
                visibility: hidden;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                padding: 0 10px;
                -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
                li {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    a {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        color: #3f3d56;
                        font-size: 14px;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-flex: 1;
                        -ms-flex-positive: 1;
                        flex-grow: 1;
                        padding: 10px 5px;
                        border-bottom: 1px solid #eee;
                        -webkit-transition: 0.2s;
                        transition: 0.2s;
                        &:hover {
                            color: #5cc2f2;
                            padding-right: 20px;
                            .icon {
                                display: block;
                                svg {
                                    fill: #5cc2f2;
                                }
                            }
                        }
                        .icon {
                            margin-right: auto;
                            -webkit-transition: 0.2s;
                            transition: 0.2s;
                            display: none;
                        }
                        &:last-of-type {
                            a {
                                border-bottom: 0;
                            }
                        }
                    }
                }
            }
            &:hover {
                .dropdown {
                    top: 100%;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.first {
    display: none;
    display: block;
}

.header__burger {
    display: none;
    width: 25px;
    height: 17px;
    position: relative;
    span {
        width: 25px;
        height: 3px;
        background: #5cc2f2;
        position: absolute;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        &:first-of-type {
            top: 0;
        }
        &:nth-of-type(2) {
            top: 0;
            bottom: 0;
            margin: auto;
        }
        &:last-of-type {
            bottom: 0;
        }
    }
}

.header__burger.active {
    span {
        &:first-of-type {
            -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
        }
        &:nth-of-type(2) {
            display: none;
        }
        &:last-of-type {
            -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
        }
    }
}

.header--intro {
    background-color: #1a1b1b52;
    .header__nav {
        ul {
            li {
                a {
                    color: #fff;
                    padding-bottom: 3px;
                    padding-right: 3px;
                    padding-left: 3px;
                    // border-radius: 50%;
                    padding: 6px;
                    .arrow {
                        svg {
                            fill: #fff;
                        }
                    }
                    &:hover {
                        color: #5cc2f2;
                        .arrow {
                            svg {
                                fill: #5cc2f2;
                            }
                        }
                    }
                }
                a.active {
                    color: #5cc2f2 !important;
                    // border-bottom: 1px solid #5cc2f2 !important;
                    .arrow {
                        svg {
                            fill: #1a2317;
                        }
                    }
                }
            }
        }
    }
    -webkit-box-shadow: none;
    box-shadow: none;
    // background: transparent;
}

.header.active {
    background: #fff;
    height: auto;
    // -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
    // box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    padding-bottom: 17px;
    .second {
        display: none;
        .header__nav {
            ul {
                li {
                    a.active {
                        border-bottom: 1px solid #3f3d56;
                    }
                    a {
                        &:hover {
                            .arrow {
                                svg {
                                    fill: #3f3d56;
                                }
                            }
                        }
                    }
                    .arrow {
                        svg {
                            fill: #3f3d56;
                        }
                    }
                    .dropdown {
                        top: 100%;
                    }
                }
            }
        }
    }
}

.header.active {
    .header__nav {
        ul {
            li {
                a {
                    color: #3f3d56;
                }
            }
        }
    }
}

@media only screen and (max-width: $break-large) {
    .header {
        height: 60px;
        background-color: #fff;
    }
    .header__logo {
        a {
            img {
                width: 48px;
            }
        }
        margin: 0 auto;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        width: 100px;
    }
    .header__nav {
        position: absolute;
        right: -100vw;
        height: 100vh;
        background: #fff;
        width: 100vw;
        -ms-flex-preferred-size: 100vh;
        flex-basis: 100vh;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: block;
        margin: 0;
        top: 100%;
        border-top: 2px solid #5cc2f2;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        >ul {
            >li {
                >a {
                    .arrow {
                        display: none;
                    }
                }
                .dropdown {
                    visibility: visible;
                    opacity: 1;
                    position: relative;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    width: 100%;
                    padding: 0;
                    padding-right: 40px;
                    padding-left: 40px;
                    li {
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                        a {
                            padding: 2px 0 !important;
                        }
                    }
                }
            }
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            li {
                margin-bottom: 10px;
                margin-left: 0;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                a {
                    color: #3f3d56 !important;
                    font-size: 16px;
                    padding: 10px;
                    padding-right: 10px !important;
                    padding-bottom: 8px !important;
                    border-bottom: 0 !important;
                    display: block;
                    width: 100%;
                }
                a.active {
                    color: #5cc2f2 !important;
                    background: #5cc2f2;
                }
            }
        }
    }
    .header__nav.active {
        right: 0;
    }
    .header__burger {
        display: block;
    }
}

.header--intro.active .header__nav ul li a.active {
    color: #5cc2f2;
    border-bottom: 1px solid #5cc2f2;
}

@media only screen and (max-width: $break-large) {
    .header--intro {
        .header__nav {
            ul {
                li {
                    a {
                        background-color: rgba(255, 255, 255, 0);
                    }
                }
            }
        }
    }
}

.logout {
    cursor: pointer;
}