  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 ">
          <h6>about</h6>
          <p class="text-justify">
            We offer you some interesting books in all varied fields. Follow us and you will not regret it,
            We offer you some interesting books in all varied fields. Follow us and you will not regret it

        </p>
        </div>

        <div class="col-xs-6 col-md-3 ">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li>
               authors
            </li>
            
           <li>
            publishing

            </li>

            <li>
                quality
            </li>

            <li>
                Species
            </li>

            <li>
                products

            </li>

          </ul>
        </div>

        <div class="col-xs-6 col-md-3 ">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li>home</li>
            <li>about</li>
            <li>log in </li>
            <li>sign up</li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text"> Copyright  &copy; 2020 All Rights Reserved by </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>