<!-- start log in  -->
<app-pagebackground [pageName]="'forgetpassword'" [MainpageName]="'home'"></app-pagebackground>
<div class="container">
    <div class="box">
        <input type="checkbox" id="toggle" class="box__toggle" hidden>
        <img src="assets/Images/bacj.jpg" alt="Picture by Autumn Studio" class="box__image">

        <form class="form form--login"  [formGroup]="LogInForm" (submit)="onSubmit(LogInForm)">

            <h2 class="form__title">forgetpassword</h2>

            <div class="form__helper">
                <input type="text" name="user" id="user" placeholder="code" formControlName="user" class="form__input" />
                <label class="form__label" for="user">codde</label>
            </div>

            <!-- <div class="form__helper">
                <input type="Password" name="Password" id="Password" placeholder="Password" formControlName="Password" class="form__input" />
                <label class="form__label" for="password">Password</label>
            </div> -->

            <button type="submit" class="form_button">
                <span>  SEND</span>
            </button>

            <!-- <p class="form__text">Don't have an account? <label for="toggle" class="form__link" routerLink="/signup">Sign up!</label> -->
        </form>
    </div>
</div>
